@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

body {
  @apply bg-gray-200 dark:bg-gray-800 text-slate-700 dark:text-slate-300  p-3;
}

html {
  margin: 0;
  touch-action: manipulation;
}

:root {
  --alu-1: var(--color-slate-800);
  --alu-2: var(--color-slate-600);
  --alu-3: var(--color-slate-800);
  --rubber: #2a2c30;
  --rubber-hi: #3d4046;
  --light: #ffffff;
  --dark: #a3b1c6;

  --out: 9px 9px 18px var(--dark), -9px -9px 18px var(--light);
  --out-sm: 5px 5px 10px var(--dark), -5px -5px 10px var(--light);
  --in: inset 6px 6px 12px var(--dark), inset -6px -6px 12px var(--light);
  --in-sm: inset 3px 3px 6px var(--dark), inset -3px -3px 6px var(--light);
}

@theme {
  --font-sans: system-ui, sans-serif;
  --text-2xs: 0.625rem;
}
