@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

body {
  @apply bg-default text-default-text dark:bg-default-dark dark:text-default-text-dark;
  @apply p-3 font-sans;
}

html {
  touch-action: manipulation;
}

@theme {
  --font-sans: system-ui, sans-serif;
  --text-2xs: 0.625rem;
}

@utility section {
  @apply rounded-lg p-3 shadow-out-xs dark:shadow-out-xs-dark;
}

:root {
  --color-rose-bud-50: #fef5f2;
  --color-rose-bud-100: #fee9e2;
  --color-rose-bud-200: #ffd6c9;
  --color-rose-bud-300: #fdae94;
  --color-rose-bud-400: #fa916f;
  --color-rose-bud-500: #f26d41;
  --color-rose-bud-600: #df5223;
  --color-rose-bud-700: #bb421a;
  --color-rose-bud-800: #9b3919;
  --color-rose-bud-900: #80351c;
  --color-rose-bud-950: #461809;

  --color-shamrock-50: #edfcf6;
  --color-shamrock-100: #d4f7e7;
  --color-shamrock-200: #aceed4;
  --color-shamrock-300: #58d8ae;
  --color-shamrock-400: #3fc89f;
  --color-shamrock-500: #1bae87;
  --color-shamrock-600: #0f8c6e;
  --color-shamrock-700: #0c705a;
  --color-shamrock-800: #0c5949;
  --color-shamrock-900: #0b493d;
  --color-shamrock-950: #052923;
}

@theme inline {
  /* Surface background and text color */
  --color-default: var(--color-primary-200);
  --color-default-text: var(--color-primary-700);
  /* ...same, but dark mode */
  --color-default-dark: var(--color-primary-700);
  --color-default-text-dark: var(--color-primary-300);

  /* Primary color */
  --color-primary-50: var(--color-slate-50);
  --color-primary-100: var(--color-slate-100);
  --color-primary-200: var(--color-slate-200);
  --color-primary-300: var(--color-slate-300);
  --color-primary-400: var(--color-slate-400);
  --color-primary-500: var(--color-slate-500);
  --color-primary-600: var(--color-slate-600);
  --color-primary-700: var(--color-slate-700);
  --color-primary-800: var(--color-slate-800);
  --color-primary-900: var(--color-slate-900);
  --color-primary-950: var(--color-slate-950);

  /* Accent color */
  --color-accent-50: var(--color-rose-bud-50);
  --color-accent-100: var(--color-rose-bud-100);
  --color-accent-200: var(--color-rose-bud-200);
  --color-accent-300: var(--color-rose-bud-300);
  --color-accent-400: var(--color-rose-bud-400);
  --color-accent-500: var(--color-rose-bud-500);
  --color-accent-600: var(--color-rose-bud-600);
  --color-accent-700: var(--color-rose-bud-700);
  --color-accent-800: var(--color-rose-bud-800);
  --color-accent-900: var(--color-rose-bud-900);
  --color-accent-950: var(--color-rose-bud-950);

  /* Light theme colors */
  --glow-transparancy: 100%;
  --color-farside: color-mix(
    in srgb,
    var(--color-primary-400) var(--glow-transparancy),
    transparent
  );
  --color-nearside: color-mix(
    in srgb,
    var(--color-white) var(--glow-transparancy),
    transparent
  );

  /* Dark theme colors */
  --glow-transparancy-dark: 100%;
  --color-farside-dark: color-mix(
    in srgb,
    var(--color-primary-900) var(--glow-transparancy-dark),
    transparent
  );
  --color-nearside-dark: color-mix(
    in srgb,
    var(--color-primary-500) var(--glow-transparancy-dark),
    transparent
  );
  --shadow-out:
    9px 9px 18px var(--color-farside), -9px -9px 18px var(--color-nearside);
  --shadow-out-sm:
    4.5px 4.5px 9px var(--color-farside),
    -4.5px -4.5px 9px var(--color-nearside);
  --shadow-out-xs:
    1px 1px 1px var(--color-farside), -1px -1px 1px var(--color-nearside);

  --shadow-out-dark:
    9px 9px 18px var(--color-farside-dark),
    -9px -9px 18px var(--color-nearside-dark);
  --shadow-out-sm-dark:
    4.5px 4.5px 9px var(--color-farside-dark),
    -4.5px -4.5px 9px var(--color-nearside-dark);
  --shadow-out-xs-dark:
    1px 1px 1px var(--color-farside-dark),
    -1px -1px 1px var(--color-nearside-dark);

  --shadow-in:
    inset 6px 6px 12px var(--color-farside),
    inset -6px -6px 12px var(--color-nearside);
  --shadow-in-sm:
    inset 3px 3px 6px var(--color-farside),
    inset -3px -3px 6px var(--color-nearside);
  --shadow-in-xs:
    inset 1px 1px 1px var(--color-farside),
    inset -1px -1px 1px var(--color-nearside);

  --shadow-in-dark:
    inset 6px 6px 12px var(--color-farside-dark),
    inset -6px -6px 12px var(--color-nearside-dark);
  --shadow-in-sm-dark:
    inset 3px 3px 6px var(--color-farside-dark),
    inset -3px -3px 6px var(--color-nearside-dark);
  --shadow-in-xs-dark:
    inset 1px 1px 1px var(--color-farside-dark),
    inset -1px -1px 1px var(--color-nearside-dark);
}
